<div>
  <h2 id="page-heading" data-cy="GradeHeading">
    <span jhiTranslate="escolaApp.grade.home.title">Grades</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="escolaApp.grade.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-grade"
        [routerLink]="['/grade/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="escolaApp.grade.home.createLabel">Create a new Grade</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (grades().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="escolaApp.grade.home.notFound">No Grades found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="value">
              <div class="d-flex">
                <span jhiTranslate="escolaApp.grade.value">Value</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="finished">
              <div class="d-flex">
                <span jhiTranslate="escolaApp.grade.finished">Finished</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="student.id">
              <div class="d-flex">
                <span jhiTranslate="escolaApp.grade.student">Student</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="disciplina.id">
              <div class="d-flex">
                <span jhiTranslate="escolaApp.grade.disciplina">Disciplina</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (grade of grades(); track trackId(grade)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/grade', grade.id, 'view']">{{ grade.id }}</a>
              </td>
              <td>{{ grade.value }}</td>
              <td>{{ grade.finished }}</td>
              <td>
                @if (grade.student) {
                  <div>
                    <a [routerLink]="['/student', grade.student.id, 'view']">{{ grade.student.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (grade.disciplina) {
                  <div>
                    <a [routerLink]="['/disciplina', grade.disciplina.id, 'view']">{{ grade.disciplina.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/grade', grade.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/grade', grade.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(grade)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (grades().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
