<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-grade-heading" data-cy="GradeCreateUpdateHeading" jhiTranslate="escolaApp.grade.home.createOrEditLabel">
        Create or edit a Grade
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="escolaApp.grade.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let valueRef = editForm.get('value')!;
        <div class="mb-3">
          <label class="form-label" for="field_value" jhiTranslate="escolaApp.grade.value">Value</label>
          <input type="number" class="form-control" name="value" id="field_value" data-cy="value" formControlName="value" />
          @if (valueRef.invalid && (valueRef.dirty || valueRef.touched)) {
            <div>
              @if (editForm.get('value')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >This field should be at least 0.</small
                >
              }
              @if (editForm.get('value')?.errors?.max) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.max" [translateValues]="{ max: '20' }"
                  >This field cannot be more than 20.</small
                >
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('value')?.errors?.number" jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_finished" jhiTranslate="escolaApp.grade.finished">Finished</label>
          <input type="checkbox" class="form-check" name="finished" id="field_finished" data-cy="finished" formControlName="finished" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_student" jhiTranslate="escolaApp.grade.student">Student</label>
          <select
            class="form-control"
            id="field_student"
            data-cy="student"
            name="student"
            formControlName="student"
            [compareWith]="compareStudent"
          >
            <option [ngValue]="null"></option>
            @for (studentOption of studentsSharedCollection; track $index) {
              <option [ngValue]="studentOption">{{ studentOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_disciplina" jhiTranslate="escolaApp.grade.disciplina">Disciplina</label>
          <select
            class="form-control"
            id="field_disciplina"
            data-cy="disciplina"
            name="disciplina"
            formControlName="disciplina"
            [compareWith]="compareDisciplina"
          >
            <option [ngValue]="null"></option>
            @for (disciplinaOption of disciplinasSharedCollection; track $index) {
              <option [ngValue]="disciplinaOption">{{ disciplinaOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
