<!doctype html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Breadcrumb - GRA Design System</title>
  <link rel="stylesheet" href="../gra.css">
</head>
<body class="gra-padding-bottom-7xl">

  <main class="gra-container gra-padding-top-l">
    <h1 class="gra-font-3xl gra-margin-bottom-l">Breadcrumb</h1>

    <section class="gra-margin-bottom-l">
      <h2 class="gra-font-2xl gra-margin-bottom-s">Exemplo</h2>
      <p class="gra-margin-bottom-m">Adicione os elementos do breadcrumb dentro de <code>gra-breadcrumb</code>.</p>

      <div class="gra-breadcrumb">
        <a href="#" class="bc">Titulo 1</a>
        <i class="icon-chevron-right"></i>
        <a href="#" class="bc">Titulo 2</a>
        <i class="icon-chevron-right"></i>
        <a href="#" class="bc">Titulo 3</a>
        <i class="icon-chevron-right"></i>
        <span class="bc graBcSelected">Titulo selecionado</span>
      </div>
    </section>

    <hr class="gra-hr-horizontal-dark-m gra-margin-y-l">

    <section class="gra-margin-bottom-l">
      <h2 class="gra-font-2xl gra-margin-bottom-s">Exemplo com acessibilidade</h2>
      <p class="gra-margin-bottom-m">
        Adicione a classe <code>accessibility</code> aos elementos para ativar o destaque de acessibilidade.
      </p>

      <div class="gra-breadcrumb">
        <a href="#" class="bc accessibility">Titulo 1</a>
        <i class="icon-chevron-right"></i>
        <a href="#" class="bc accessibility">Titulo 2</a>
        <i class="icon-chevron-right"></i>
        <a href="#" class="bc accessibility">Titulo 3</a>
        <i class="icon-chevron-right"></i>
        <span class="bc graBcSelected accessibility">Titulo selecionado</span>
      </div>
    </section>
  </main>

  <script type="module" src="../assets/main.js"></script>
</body>
</html>
