<!doctype html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Checkbox - GRA Design System</title>
  <link rel="stylesheet" href="../gra.css">
</head>
<body class="gra-padding-bottom-7xl">

  <main class="gra-container gra-padding-top-l">
    <h1 class="gra-font-3xl gra-margin-bottom-m">Checkbox</h1>

    <section id="checkboxExamples" class="gra-margin-top-xl">
      <h2>Exemplos</h2>
      <hr class="gra-hr-horizontal-dark-s">

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">Default</label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">Checked</label>
      </div>

      <div class="form-check">
        <input class="form-check-input form-check-input-error" type="checkbox" value="" id="errorFlexCheck">
        <label class="form-check-label" for="errorFlexCheck">Error</label>
      </div>

      <div class="form-check">
        <input class="form-check-input form-check-input-error" type="checkbox" checked value="" id="errorFlexCheckChecked">
        <label class="form-check-label" for="errorFlexCheckChecked">Checked Error</label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="disabledFlexCheck" disabled>
        <label class="form-check-label" for="disabledFlexCheck">Disabled</label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="disabledFlexChecked" checked disabled>
        <label class="form-check-label" for="disabledFlexChecked">Checked disabled</label>
      </div>

      <div class="form-check form-check-accessibility">
        <div class="check-accessibility">
          <input class="form-check-input" type="checkbox" value="" id="accessFlexCheckChecked" checked>
          <label class="form-check-label" for="accessFlexCheckChecked">Checked acessibility</label>
        </div>
      </div>

      <div class="form-check">
        <input class="form-check-input indeterminate-checkbox" type="checkbox" id="indeterminateCheckbox">
        <label class="form-check-label" for="indeterminateCheckbox">Indeterminate Checkbox</label>
      </div>
    </section>
  </main>

  <script type="module" src="../assets/main.js"></script>
</body>
</html>
