<!doctype html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cookies - GRA Design System</title>
  <link rel="stylesheet" href="../gra.css">
</head>
<body class="gra-padding-bottom-7xl">

  <main class="gra-container gra-padding-top-l">
    <h1 class="gra-font-3xl gra-margin-bottom-m">Cookies</h1>

    <section id="cookiesExample" class="gra-margin-top-xl">
      <h2>Exemplo</h2>
      <hr class="gra-hr-horizontal-dark-s">

      <div class="gra-cookies-consent">
        <div class="text">
          <p>Este website utiliza cookies estritamente necessarios, analiticos e de marketing e publicidade, para lhe oferecer uma boa experiencia de navegacao e acesso a todas as funcionalidades.</p>
        </div>
        <div class="actions">
          <button type="button" class="gra-btn btn-secondary gra-margin-right-2xs">Configurar preferencias</button>
          <button type="button" class="gra-btn btn-primary">Aceitar todos os cookies</button>
        </div>
      </div>
    </section>
  </main>

  <script type="module" src="../assets/main.js"></script>
</body>
</html>
