<!doctype html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Divider - GRA Design System</title>
  <link rel="stylesheet" href="../gra.css">
</head>
<body class="gra-padding-bottom-7xl">

  <main class="gra-container gra-padding-top-l">
    <h1 class="gra-font-3xl gra-margin-bottom-m">Divider</h1>

    <section id="dividerHorizontal" class="gra-margin-top-xl">
      <h2>Horizontal</h2>
      <hr class="gra-hr-horizontal-dark-s">

      <div class="gra-row-bs">
        <div class="gra-col-bs-xl-4">
          <span class="gra-font-bold">Dark XL</span>
          <div class="gra-padding-s">
            <div class="gra-hr-horizontal-dark-xl"></div>
          </div>
        </div>
        <div class="gra-col-bs-xl-4">
          <span class="gra-font-bold">Dark L</span>
          <div class="gra-padding-s">
            <div class="gra-hr-horizontal-dark-l"></div>
          </div>
        </div>
        <div class="gra-col-bs-xl-4">
          <span class="gra-font-bold">Dark M</span>
          <div class="gra-padding-s">
            <div class="gra-hr-horizontal-dark-m"></div>
          </div>
        </div>
        <div class="gra-col-bs-xl-4">
          <span class="gra-font-bold">Dark S</span>
          <div class="gra-padding-s">
            <div class="gra-hr-horizontal-dark-s"></div>
          </div>
        </div>
      </div>

      <div class="gra-row-bs gra-margin-top-s">
        <div class="gra-col-bs-xl-4">
          <span class="gra-font-bold">Light XL</span>
          <div class="gra-padding-s">
            <div class="gra-hr-horizontal-light-xl"></div>
          </div>
        </div>
        <div class="gra-col-bs-xl-4">
          <span class="gra-font-bold">Light L</span>
          <div class="gra-padding-s">
            <div class="gra-hr-horizontal-light-l"></div>
          </div>
        </div>
        <div class="gra-col-bs-xl-4">
          <span class="gra-font-bold">Light M</span>
          <div class="gra-padding-s">
            <div class="gra-hr-horizontal-light-m"></div>
          </div>
        </div>
        <div class="gra-col-bs-xl-4">
          <span class="gra-font-bold">Light S</span>
          <div class="gra-padding-s">
            <div class="gra-hr-horizontal-light-s"></div>
          </div>
        </div>
      </div>
    </section>

    <section id="dividerVertical" class="gra-margin-top-xl">
      <h2>Vertical</h2>
      <hr class="gra-hr-horizontal-dark-s">

      <div class="gra-row-bs">
        <div class="gra-col-bs-xl-4">
          <span class="gra-font-bold">Dark XL</span>
          <div class="gra-padding-s">
            <div class="gra-hr-vertical-dark-xl" style="height: 200px;"></div>
          </div>
        </div>
        <div class="gra-col-bs-xl-4">
          <span class="gra-font-bold">Dark L</span>
          <div class="gra-padding-s">
            <div class="gra-hr-vertical-dark-l" style="height: 200px;"></div>
          </div>
        </div>
        <div class="gra-col-bs-xl-4">
          <span class="gra-font-bold">Dark M</span>
          <div class="gra-padding-s">
            <div class="gra-hr-vertical-dark-m" style="height: 200px;"></div>
          </div>
        </div>
        <div class="gra-col-bs-xl-4">
          <span class="gra-font-bold">Dark S</span>
          <div class="gra-padding-s">
            <div class="gra-hr-vertical-dark-s" style="height: 200px;"></div>
          </div>
        </div>
      </div>

      <div class="gra-row-bs gra-margin-top-s">
        <div class="gra-col-bs-xl-4">
          <span class="gra-font-bold">Light XL</span>
          <div class="gra-padding-s">
            <div class="gra-hr-vertical-light-xl" style="height: 200px;"></div>
          </div>
        </div>
        <div class="gra-col-bs-xl-4">
          <span class="gra-font-bold">Light L</span>
          <div class="gra-padding-s">
            <div class="gra-hr-vertical-light-l" style="height: 200px;"></div>
          </div>
        </div>
        <div class="gra-col-bs-xl-4">
          <span class="gra-font-bold">Light M</span>
          <div class="gra-padding-s">
            <div class="gra-hr-vertical-light-m" style="height: 200px;"></div>
          </div>
        </div>
        <div class="gra-col-bs-xl-4">
          <span class="gra-font-bold">Light S</span>
          <div class="gra-padding-s">
            <div class="gra-hr-vertical-light-s" style="height: 200px;"></div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script type="module" src="../assets/main.js"></script>
</body>
</html>
