<!doctype html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Feedback Messages - GRA Design System</title>
  <link rel="stylesheet" href="../gra.css">
</head>
<body class="gra-padding-bottom-7xl">

  <main class="gra-container gra-padding-top-l">
    <h1 class="gra-font-3xl gra-margin-bottom-m">Feedback Messages</h1>

    <section id="feedbackMessages" class="gra-margin-top-xl">
      <h2>Exemplos</h2>
      <hr class="gra-hr-horizontal-dark-s">

      <div class="gra-row-bs">
        <div class="gra-col-bs-xl-1">
          <div class="gra-padding-s">
            <div class="gra-feedback-msg error">
              <span class="text">Esta e uma mensagem de feedback de ERRO que pode ser alterada</span>
              <span class="closeIcon"></span>
            </div>
            <div class="gra-feedback-msg info gra-margin-top-s">
              <span class="text">Esta e uma mensagem de feedback de INFORMACAO que pode ser alterada</span>
              <span class="closeIcon"></span>
            </div>
            <div class="gra-feedback-msg success gra-margin-top-s">
              <span class="text">Esta e uma mensagem de feedback de SUCESSO que pode ser alterada</span>
              <span class="closeIcon"></span>
            </div>
            <div class="gra-feedback-msg alert gra-margin-top-s">
              <span class="text">Esta e uma mensagem de feedback de ALERTA que pode ser alterada</span>
              <span class="closeIcon"></span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="module" src="../assets/main.js"></script>
</body>
</html>
