<!doctype html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Footers - GRA Design System</title>
  <link rel="stylesheet" href="../gra.css">
</head>
<body class="gra-padding-bottom-7xl">

  <main class="gra-container gra-padding-top-l">
    <h1 class="gra-font-3xl gra-margin-bottom-m">Footers</h1>

    <section class="gra-margin-top-xl">
      <h2>Footer Backoffice</h2>
      <hr class="gra-hr-horizontal-dark-s">
      <div class="gra-row-bs">
        <div class="gra-col-bs-xl-1">
          <div class="gra-back-to-top gra-container">
            <button type="button" class="icon icon-primary backToTop">
              <i class="icon-chevron-up"></i>
            </button>
          </div>
          <div class="gra-footer-backoffice">
            <div class="footer-content gra-container">
              <div class="logo-description">
                <a href="https://portal.azores.gov.pt/" target="_blank">
                  <img class="gra-logo-gov" src="https://gradesign.servicos.azores.gov.pt/img/logos/logo_gra_white.svg" alt="Governo Regional dos Acores">
                </a>
                <span>Esta e uma presenca online oficial do <a href="https://portal.azores.gov.pt" class="gra-link" target="_blank">Governo dos Acores</a><br>Secretaria Regional das Financas, Planeamento e Administracao Publica</span>
              </div>
              <div class="gra-logos">
                <a href="https://recuperarportugal.gov.pt" target="_blank"><img class="gra-logo-prr" src="https://gradesign.servicos.azores.gov.pt/img/logos/logo_prr.svg" alt="Plano de Recuperacao e Resiliencia"></a>
                <a href="https://portal.azores.gov.pt/" target="_blank"><img class="gra-logo-gov" src="https://gradesign.servicos.azores.gov.pt/img/logos/logo_gra_white.svg" alt="Governo Regional dos Acores"></a>
                <a href="https://www.portugal.gov.pt/" target="_blank"><img class="gra-logo-rp" src="https://gradesign.servicos.azores.gov.pt/img/logos/logo_rp.svg" alt="Republica Portuguesa"></a>
                <a href="https://next-generation-eu.europa.eu/" target="_blank"><img class="gra-logo-ue" src="https://gradesign.servicos.azores.gov.pt/img/logos/logo_ue.svg" alt="Financiado pela Uniao Europeia"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="footerOption1" class="gra-margin-top-xl">
      <h2>Footer opcao 1</h2>
      <hr class="gra-hr-horizontal-dark-s">
      <div class="gra-row-bs">
        <div class="gra-col-bs-xl-1">
          <div class="gra-back-to-top gra-container">
            <button type="button" class="icon icon-primary backToTop">
              <i class="icon-chevron-up"></i>
            </button>
          </div>
          <div class="gra-footer-opt-1">
            <div class="footer-row first-row">
              <div class="footer-content gra-container">
                <img class="logo" src="https://gradesign.servicos.azores.gov.pt/img/logo_gra_design_system.png" alt="Logo">
                <div class="contactsContent">
                  <div class="label">Contactos</div>
                  <div class="address">
                    <div class="iconContent">
                      <i class="icon-pin"></i>
                      <span>Lorem ipsum dolor sit amet consectetur, 23.<br>4440-444 Lorem ipsum</span>
                    </div>
                  </div>
                  <div class="contacts">
                    <div class="iconContent">
                      <i class="icon-phone"></i>
                      <a href="tel:+351296000000">296 000 000</a>
                    </div>
                    <div class="iconContent email">
                      <i class="icon-message"></i>
                      <a href="mailto:info@example.com">[email protected]</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-row second-row">
              <div class="footer-content gra-container">
                <div class="links">
                  <a href="#" class="gra-link">Acessibilidade</a>
                  <a href="#" class="gra-link">Termos e Condicoes</a>
                  <a href="#" class="gra-link">Politica de Privacidade</a>
                  <a href="#" class="gra-link">Definicoes de Cookies</a>
                </div>
              </div>
            </div>
            <div class="footer-row third-row">
              <div class="footer-content gra-container">
                <div class="gra-logos">
                  <a href="https://recuperarportugal.gov.pt/" target="_blank"><img class="gra-logo-prr" src="https://gradesign.servicos.azores.gov.pt/img/logos/logo_prr.svg" alt="Plano de Recuperacao e Resiliencia"></a>
                  <a href="https://portal.azores.gov.pt/" target="_blank"><img class="gra-logo-gov" src="https://gradesign.servicos.azores.gov.pt/img/logos/logo_gra_white.svg" alt="Governo Regional dos Acores"></a>
                  <a href="https://www.portugal.gov.pt" target="_blank"><img class="gra-logo-rp" src="https://gradesign.servicos.azores.gov.pt/img/logos/logo_rp.svg" alt="Republica Portuguesa"></a>
                  <a href="https://next-generation-eu.europa.eu" target="_blank"><img class="gra-logo-ue" src="https://gradesign.servicos.azores.gov.pt/img/logos/logo_ue.svg" alt="Financiado pela Uniao Europeia"></a>
                </div>
                <div class="logosLeft">
                  <a href="https://recuperarportugal.gov.pt/transicao-digital/administracao-publica-mais-eficiente/" target="_blank"><img class="gra-logo-c19" src="https://gradesign.servicos.azores.gov.pt/img/logos/logo_c19.svg" alt="Modernizacao e Digitalizacao da Administracao Publica - RAA"></a>
                  <a href="https://incuba.azores.gov.pt/" target="_blank"><img class="gra-logo-incuba" src="https://gradesign.servicos.azores.gov.pt/img/logos/logo_incuba.svg" alt="Incuba Acores"></a>
                </div>
              </div>
            </div>
            <div class="footer-row fourth-row">
              <div class="logo-description gra-container">
                <a href="https://portal.azores.gov.pt/" target="_blank"><img class="gra-logo-gov" src="https://gradesign.servicos.azores.gov.pt/img/logos/logo_gra_white.svg" alt="Governo Regional dos Acores"></a>
                <div>Esta e uma presenca online oficial do <a href="https://portal.azores.gov.pt" class="gra-link" target="_blank">Governo dos Acores</a><br>Secretaria Regional das Financas, Planeamento e Administracao Publica</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="footerOption2" class="gra-margin-top-xl">
      <h2>Footer opcao 2</h2>
      <hr class="gra-hr-horizontal-dark-s">
      <div class="gra-row-bs">
        <div class="gra-col-bs-xl-1">
          <div class="gra-back-to-top gra-container">
            <button type="button" class="icon icon-primary backToTop">
              <i class="icon-chevron-up"></i>
            </button>
          </div>
          <div class="gra-footer-opt-2">
            <div class="footer-row first-row">
              <div class="footer-content gra-container">
                <img class="logo" src="https://gradesign.servicos.azores.gov.pt/img/logo_gra_design_system.png" alt="Logo">
                <div class="contactsContent">
                  <div class="label">Contactos</div>
                  <div class="address">
                    <div class="iconContent">
                      <i class="icon-pin"></i>
                      <span>Lorem ipsum dolor sit amet consectetur, 23.<br>4440-444 Lorem ipsum</span>
                    </div>
                  </div>
                  <div class="contacts">
                    <div class="iconContent">
                      <i class="icon-phone"></i>
                      <a href="tel:+351296000000">296 000 000</a>
                    </div>
                    <div class="iconContent email">
                      <i class="icon-message"></i>
                      <a href="mailto:info@example.com">[email protected]</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-row second-row">
              <div class="footer-content gra-container">
                <div class="logosLeft">
                  <img class="logoUsabilidade" src="https://gradesign.servicos.azores.gov.pt/img/logos/logo_usabilidade_bronze.png" alt="Logo Selo de Usabilidade e Acessibilidade">
                </div>
                <div class="links">
                  <a href="#" class="gra-link">Acessibilidade</a>
                  <a href="#" class="gra-link">Termos e Condicoes</a>
                  <a href="#" class="gra-link">Politica de Privacidade</a>
                  <a href="#" class="gra-link">Definicoes de Cookies</a>
                </div>
              </div>
            </div>
            <div class="footer-row third-row">
              <div class="footer-content gra-container">
                <div class="gra-logos">
                  <a href="https://recuperarportugal.gov.pt/" target="_blank"><img class="gra-logo-prr" src="https://gradesign.servicos.azores.gov.pt/img/logos/logo_prr.svg" alt="Plano de Recuperacao e Resiliencia"></a>
                  <a href="https://portal.azores.gov.pt/" target="_blank"><img class="gra-logo-gov" src="https://gradesign.servicos.azores.gov.pt/img/logos/logo_gra_white.svg" alt="Governo Regional dos Acores"></a>
                  <a href="https://www.portugal.gov.pt" target="_blank"><img class="gra-logo-rp" src="https://gradesign.servicos.azores.gov.pt/img/logos/logo_rp.svg" alt="Republica Portuguesa"></a>
                  <a href="https://next-generation-eu.europa.eu" target="_blank"><img class="gra-logo-ue" src="https://gradesign.servicos.azores.gov.pt/img/logos/logo_ue.svg" alt="Financiado pela Uniao Europeia"></a>
                </div>
                <div class="logosLeft">
                  <a href="https://recuperarportugal.gov.pt/transicao-digital/administracao-publica-mais-eficiente/" target="_blank"><img class="gra-logo-c19" src="https://gradesign.servicos.azores.gov.pt/img/logos/logo_c19.svg" alt="Modernizacao e Digitalizacao da Administracao Publica - RAA"></a>
                  <a href="https://incuba.azores.gov.pt/" target="_blank"><img class="gra-logo-incuba" src="https://gradesign.servicos.azores.gov.pt/img/logos/logo_incuba.svg" alt="Incuba Acores"></a>
                </div>
              </div>
            </div>
            <div class="footer-row fourth-row">
              <div class="logo-description gra-container">
                <a href="https://portal.azores.gov.pt/" target="_blank"><img class="gra-logo-gov" src="https://gradesign.servicos.azores.gov.pt/img/logos/logo_gra_white.svg" alt="Governo Regional dos Acores"></a>
                <div>Esta e uma presenca online oficial do <a href="https://portal.azores.gov.pt" class="gra-link" target="_blank">Governo dos Acores</a><br>Secretaria Regional das Financas, Planeamento e Administracao Publica</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="footerOption3" class="gra-margin-top-xl">
      <h2>Footer opcao 3</h2>
      <hr class="gra-hr-horizontal-dark-s">
      <div class="gra-row-bs">
        <div class="gra-col-bs-xl-1">
          <div class="gra-back-to-top gra-container">
            <button type="button" class="icon icon-primary backToTop">
              <i class="icon-chevron-up"></i>
            </button>
          </div>
          <div class="gra-footer-opt-3">
            <div class="footer-row first-row">
              <div class="footer-content gra-container">
                <div class="columnFooter">
                  <span class="label">Qualificacao</span>
                  <div class="links">
                    <a href="#" class="gra-link">Lorem ipsum</a>
                    <a href="#" class="gra-link">Lorem ipsum</a>
                    <a href="#" class="gra-link">Lorem ipsum</a>
                    <a href="#" class="gra-link">Lorem ipsum</a>
                  </div>
                </div>
                <div class="columnFooter">
                  <span class="label">Links gerais</span>
                  <div class="links">
                    <a href="#" class="gra-link">Lorem ipsum</a>
                    <a href="#" class="gra-link">Lorem ipsum</a>
                    <a href="#" class="gra-link">Lorem ipsum</a>
                    <a href="#" class="gra-link">Lorem ipsum</a>
                  </div>
                </div>
                <div class="columnFooter">
                  <span class="label">Lorem ipsum</span>
                  <div class="links">
                    <a href="#" class="gra-link">Lorem ipsum</a>
                    <a href="#" class="gra-link">Lorem ipsum</a>
                    <a href="#" class="gra-link">Lorem ipsum</a>
                    <a href="#" class="gra-link">Lorem ipsum</a>
                  </div>
                </div>
                <div class="columnFooter">
                  <span class="label">Contactos</span>
                  <div class="links">
                    <div class="contactsContent">
                      <div class="contacts">
                        <div class="iconContent">
                          <i class="icon-pin"></i>
                          <span>Lorem ipsum dolor sit amet consectetur, 23.<br>4440-444 Lorem ipsum</span>
                        </div>
                        <div class="iconContent phone">
                          <i class="icon-phone"></i>
                          <a href="tel:+351296000000">296 000 000</a>
                        </div>
                        <div class="iconContent email">
                          <i class="icon-message"></i>
                          <a href="mailto:info@example.com">[email protected]</a>
                        </div>
                        <div class="socialIcons">
                          <a href="#" class="socialIcon"><i class="icon-linkedin"></i></a>
                          <a href="#" class="socialIcon" target="_blank"><i class="icon-instagram"></i></a>
                          <a href="#" class="socialIcon" target="_blank"><i class="icon-youtube"></i></a>
                          <a href="#" class="socialIcon" target="_blank"><i class="icon-x-twitter"></i></a>
                          <a href="#" class="socialIcon" target="_blank"><i class="icon-facebook"></i></a>
                          <a href="#" class="socialIcon" target="_blank"><i class="icon-tumblr"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-row second-row">
              <div class="footer-content gra-container">
                <div class="logosLeft">
                  <img class="logoUsabilidade" src="https://gradesign.servicos.azores.gov.pt/img/logos/logo_usabilidade_bronze.png" alt="Logo Selo de Usabilidade e Acessibilidade">
                </div>
                <div class="links">
                  <a href="#" class="gra-link">Acessibilidade</a>
                  <a href="#" class="gra-link">Termos e Condicoes</a>
                  <a href="#" class="gra-link">Politica de Privacidade</a>
                  <a href="#" class="gra-link">Definicoes de Cookies</a>
                </div>
              </div>
            </div>
            <div class="footer-row third-row">
              <div class="footer-content gra-container">
                <div class="gra-logos">
                  <a href="https://recuperarportugal.gov.pt/" target="_blank"><img class="gra-logo-prr" src="https://gradesign.servicos.azores.gov.pt/img/logos/logo_prr.svg" alt="Plano de Recuperacao e Resiliencia"></a>
                  <a href="https://portal.azores.gov.pt/" target="_blank"><img class="gra-logo-gov" src="https://gradesign.servicos.azores.gov.pt/img/logos/logo_gra_white.svg" alt="Governo Regional dos Acores"></a>
                  <a href="https://www.portugal.gov.pt" target="_blank"><img class="gra-logo-rp" src="https://gradesign.servicos.azores.gov.pt/img/logos/logo_rp.svg" alt="Republica Portuguesa"></a>
                  <a href="https://next-generation-eu.europa.eu" target="_blank"><img class="gra-logo-ue" src="https://gradesign.servicos.azores.gov.pt/img/logos/logo_ue.svg" alt="Financiado pela Uniao Europeia"></a>
                </div>
                <div class="logosLeft">
                  <a href="https://recuperarportugal.gov.pt/transicao-digital/administracao-publica-mais-eficiente/" target="_blank"><img class="gra-logo-c19" src="https://gradesign.servicos.azores.gov.pt/img/logos/logo_c19.svg" alt="Modernizacao e Digitalizacao da Administracao Publica - RAA"></a>
                  <a href="https://incuba.azores.gov.pt/" target="_blank"><img class="gra-logo-incuba" src="https://gradesign.servicos.azores.gov.pt/img/logos/logo_incuba.svg" alt="Incuba Acores"></a>
                </div>
              </div>
            </div>
            <div class="footer-row fourth-row">
              <div class="logo-description gra-container">
                <a href="https://portal.azores.gov.pt/" target="_blank"><img class="gra-logo-gov" src="https://gradesign.servicos.azores.gov.pt/img/logos/logo_gra_white.svg" alt="Governo Regional dos Acores"></a>
                <div>Esta e uma presenca online oficial do <a href="https://portal.azores.gov.pt" class="gra-link" target="_blank">Governo dos Acores</a><br>Secretaria Regional das Financas, Planeamento e Administracao Publica</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="module" src="../assets/main.js"></script>
</body>
</html>
