<!doctype html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Carrosel de Imagens - GRA Design System</title>
  <link rel="stylesheet" href="../gra.css">
</head>
<body class="gra-padding-bottom-7xl">

  <main class="gra-container gra-padding-top-l">
    <h1 class="gra-font-3xl gra-margin-bottom-m">Carrosel de Imagens</h1>

    <section id="carouselSizeL" class="gra-margin-top-xl">
      <h2>Carrosel de imagens tamanho L</h2>
      <hr class="gra-hr-horizontal-dark-s">
      <div class="gra-row-bs">
        <div class="gra-col-bs-xl-1">
          <div class="gra-carousel-container carousel-l">
            <div class="active-image">
              <img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/costa_norte_SM.jpg" alt="Image 1">
            </div>
            <div class="carousel-navigation">
              <div class="nav-left">
                <button id="prev-button" type="button" class="icon icon-secondary owl-nav left-nav">
                  <i class="icon-chevron-left iconLeft"></i>
                </button>
              </div>
              <div id="image-carousel" class="owl-carousel">
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/costa_norte_SM.jpg" alt="Image 1"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/Nascer-do-Sol-PDL.jpg" alt="Image 2"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/coroa-da-mata-pm.jpg" alt="Image 3"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/SaoMiguel.jpg" alt="Image 4"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/sun-cesar.jpg" alt="Image 5"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/pico-pordosol.jpg" alt="Image 6"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/Torre%20de%20Belem.jpg" alt="Image 7"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/faialPico.jpg" alt="Image 8"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/Sunset.jpeg" alt="Image 9"></div>
              </div>
              <div class="nav-right">
                <button id="next-button" type="button" class="icon icon-secondary owl-nav right-nav">
                  <i class="icon-chevron-right iconRight"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="carouselSizeM" class="gra-margin-top-xl">
      <h2>Carrosel de imagens tamanho M</h2>
      <hr class="gra-hr-horizontal-dark-s">
      <div class="gra-row-bs">
        <div class="gra-col-bs-xl-1">
          <div class="gra-carousel-container carousel-m">
            <div class="active-image">
              <img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/costa_norte_SM.jpg" alt="Image 1">
            </div>
            <div class="carousel-navigation">
              <div class="nav-left">
                <button id="prev-button" type="button" class="icon icon-secondary owl-nav left-nav">
                  <i class="icon-chevron-left iconLeft"></i>
                </button>
              </div>
              <div id="image-carousel" class="owl-carousel">
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/costa_norte_SM.jpg" alt="Image 1"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/Nascer-do-Sol-PDL.jpg" alt="Image 2"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/coroa-da-mata-pm.jpg" alt="Image 3"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/SaoMiguel.jpg" alt="Image 4"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/sun-cesar.jpg" alt="Image 5"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/pico-pordosol.jpg" alt="Image 6"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/Torre%20de%20Belem.jpg" alt="Image 7"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/faialPico.jpg" alt="Image 8"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/Sunset.jpeg" alt="Image 9"></div>
              </div>
              <div class="nav-right">
                <button id="next-button" type="button" class="icon icon-secondary owl-nav right-nav">
                  <i class="icon-chevron-right iconRight"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="carouselSizeS" class="gra-margin-top-xl">
      <h2>Carrosel de imagens tamanho S</h2>
      <hr class="gra-hr-horizontal-dark-s">
      <div class="gra-row-bs">
        <div class="gra-col-bs-xl-1">
          <div class="gra-carousel-container carousel-s">
            <div class="active-image">
              <img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/costa_norte_SM.jpg" alt="Image 1">
            </div>
            <div class="carousel-navigation">
              <div class="nav-left">
                <button id="prev-button" type="button" class="icon icon-secondary owl-nav left-nav">
                  <i class="icon-chevron-left iconLeft"></i>
                </button>
              </div>
              <div id="image-carousel" class="owl-carousel">
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/costa_norte_SM.jpg" alt="Image 1"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/Nascer-do-Sol-PDL.jpg" alt="Image 2"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/coroa-da-mata-pm.jpg" alt="Image 3"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/SaoMiguel.jpg" alt="Image 4"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/sun-cesar.jpg" alt="Image 5"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/pico-pordosol.jpg" alt="Image 6"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/Torre%20de%20Belem.jpg" alt="Image 7"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/faialPico.jpg" alt="Image 8"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/Sunset.jpeg" alt="Image 9"></div>
              </div>
              <div class="nav-right">
                <button id="next-button" type="button" class="icon icon-secondary owl-nav right-nav">
                  <i class="icon-chevron-right iconRight"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="carouselMobile" class="gra-margin-top-xl">
      <h2>Carousel de imagens - Mobile</h2>
      <hr class="gra-hr-horizontal-dark-s">
      <div class="gra-row-bs">
        <div class="gra-col-bs-xl-1">
          <div class="gra-carousel-container carousel-mobile">
            <div class="active-image">
              <img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/costa_norte_SM.jpg" alt="Image 1">
            </div>
            <div class="carousel-navigation">
              <div class="nav-left">
                <button id="prev-button" type="button" class="icon icon-secondary owl-nav left-nav">
                  <i class="icon-chevron-left iconLeft"></i>
                </button>
              </div>
              <div id="image-carousel" class="owl-carousel">
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/costa_norte_SM.jpg" alt="Image 1"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/Nascer-do-Sol-PDL.jpg" alt="Image 2"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/coroa-da-mata-pm.jpg" alt="Image 3"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/SaoMiguel.jpg" alt="Image 4"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/sun-cesar.jpg" alt="Image 5"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/pico-pordosol.jpg" alt="Image 6"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/Torre%20de%20Belem.jpg" alt="Image 7"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/faialPico.jpg" alt="Image 8"></div>
                <div class="item"><img src="https://gradesign.servicos.azores.gov.pt/img/exemplos/Sunset.jpeg" alt="Image 9"></div>
              </div>
              <div class="nav-right">
                <button id="next-button" type="button" class="icon icon-secondary owl-nav right-nav">
                  <i class="icon-chevron-right iconRight"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="module" src="../assets/main.js"></script>
</body>
</html>
