<!doctype html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lists - GRA Design System</title>
  <link rel="stylesheet" href="../gra.css">
</head>
<body class="gra-padding-bottom-7xl">

  <main class="gra-container gra-padding-top-l">
    <h1 class="gra-font-3xl gra-margin-bottom-m">Lists</h1>

    <section id="listas" class="gra-margin-top-xl">
      <h2>Exemplo</h2>
      <hr class="gra-hr-horizontal-dark-s">

      <div class="gra-row-bs">
        <div class="gra-col-bs-xl-1">
          <div class="gra-list gra-margin-bottom-l">
            <div class="headerList">
              <div class="title">Lorem ipsum sit dolor amet 1</div>
              <div class="status">
                <div class="gra-status secondary dangerIcon">
                  <span class="icon"></span>
                  <span>Perigo</span>
                </div>
                <div class="gra-status secondary infoIcon">
                  <span class="icon"></span>
                  <span>Informacao</span>
                </div>
              </div>
            </div>
            <div class="bodyList">
              <p>Lorem ipsum dolor sit consectetur. Ut fringilla arcu fames nibh facilisis vulputate. Eget vel sed lacus est laoreet sed id. Sed turpis velip feugiat.</p>
            </div>
          </div>

          <div class="gra-list gra-margin-bottom-l">
            <div class="headerList">
              <div class="title">Lorem ipsum sit dolor amet 2</div>
              <div class="status">
                <div class="gra-status secondary dangerIcon">
                  <span class="icon"></span>
                  <span>Perigo</span>
                </div>
                <div class="gra-status secondary infoIcon">
                  <span class="icon"></span>
                  <span>Informacao</span>
                </div>
              </div>
            </div>
            <div class="bodyList">
              <p>Lorem ipsum dolor sit consectetur. Ut fringilla arcu fames nibh facilisis vulputate. Eget vel sed lacus est laoreet sed id. Sed turpis velip feugiat. Lorem ipsum dolor sit consectetur. Ut fringilla arcu fames nibh facilisis vulputate. Eget vel sed lacus est laoreet sed id. Sed turpis velip feugiat. Lorem ipsum dolor sit consectetur. Ut fringilla arcu fames nibh facilisis vulputate. Eget vel sed lacus est laoreet sed id. Sed turpis velip feugiat. Lorem ipsum dolor sit consectetur. Ut fringilla arcu fames nibh facilisis vulputate. Eget vel sed lacus est laoreet sed id. Sed turpis velip feugiat.Lorem ipsum dolor sit consectetur. Ut fringilla arcu fames nibh facilisis vulputate. Eget vel sed lacus est laoreet sed id. Sed turpis velip feugiat.Lorem ipsum dolor sit consectetur. Ut fringilla arcu fames nibh facilisis vulputate. Eget vel sed lacus est laoreet sed id. Sed turpis velip feugiat.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="module" src="../assets/main.js"></script>
</body>
</html>
