<!doctype html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Loader - GRA Design System</title>
  <link rel="stylesheet" href="../gra.css">
</head>
<body class="gra-padding-bottom-7xl">

  <main class="gra-container gra-padding-top-l">
    <h1 class="gra-font-3xl gra-margin-bottom-m">Loader</h1>

    <section id="exemplos" class="gra-margin-top-xl">
      <h2>Exemplos</h2>
      <hr class="gra-hr-horizontal-dark-s">

      <div class="gra-row-bs">
        <div class="gra-col-bs-xl-1">
          <div class="gra-padding-xs gra-margin-bottom-m">
            <div class="gra-spinner small"></div>
          </div>
          <div class="gra-padding-xs gra-margin-bottom-m">
            <div class="gra-spinner medium"></div>
          </div>
          <div class="gra-padding-xs gra-margin-bottom-m">
            <div class="gra-spinner large"></div>
          </div>
          <div class="gra-padding-xs">
            <div class="gra-spinner xLarge"></div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="module" src="../assets/main.js"></script>
</body>
</html>
