<!doctype html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Menu Backoffice - GRA Design System</title>
  <link rel="stylesheet" href="../gra.css">
</head>
<body class="gra-padding-bottom-7xl">

  <main class="gra-container gra-padding-top-l">
    <h1 class="gra-font-3xl gra-margin-bottom-m">Menu Backoffice</h1>

    <section id="exemplos" class="gra-margin-top-xl">
      <h2>Exemplo</h2>
      <hr class="gra-hr-horizontal-dark-s">

      <div class="gra-row-bs">
        <div class="gra-col-bs-xl-1">
          <div class="gra-menuBackoffice">
            <div class="hamburgers">
              <i id="hamburgerMenuOpen" class="icon-menu hamburgerBackoffice"></i>
              <i id="hamburgerMenuClose" class="icon-times hamburgerBackoffice hamburger_close"></i>
            </div>
            <ul class="scrollUl">
              <li class="liOption">
                <a href="#">
                  <i class="icon-task"></i>
                  <div class="menuBckitem">Opcao 1</div>
                </a>
              </li>
              <li class="liOption">
                <a href="#">
                  <i class="icon-task"></i>
                  <div class="count1 gra-badge danger">35</div>
                  <div class="menuBckitem">
                    Opcao 2
                    <div class="count2 gra-badge danger">35</div>
                  </div>
                </a>
              </li>
              <li class="liOption">
                <a href="#">
                  <i class="icon-task"></i>
                  <div class="menuBckitem">Opcao 3</div>
                </a>
              </li>
              <li class="liOption">
                <a href="#">
                  <i class="icon-task"></i>
                  <div class="count1 gra-badge danger">12</div>
                  <div class="menuBckitem">
                    Opcao 4
                    <div class="count2 gra-badge danger">12</div>
                  </div>
                </a>
              </li>
              <li class="liOption">
                <a href="#">
                  <i class="icon-task"></i>
                  <div class="menuBckitem">Opcao 5</div>
                </a>
              </li>
              <li class="withSub">
                <div class="uldiv">
                  <i class="icon-task"></i>
                  <div class="setinha liOption">
                    <div class="menuBckitem subitem">
                      <span class="spanoption">Opcao 6</span>
                    </div>
                    <i class="icon-chevron-down-small image-down"></i>
                  </div>
                </div>
                <ul class="subUl">
                  <li class="liOption">
                    <a href="#">
                      <div class="menuBckitem">Sub-opcao 1</div>
                    </a>
                  </li>
                  <li class="liOption">
                    <a href="#">
                      <div class="menuBckitem">Sub-opcao 2</div>
                    </a>
                  </li>
                  <li class="liOption">
                    <a href="#">
                      <div class="menuBckitem">Sub-opcao 3</div>
                    </a>
                  </li>
                  <li class="liOption">
                    <a href="#">
                      <div class="menuBckitem">Sub-opcao 4</div>
                    </a>
                  </li>
                  <li class="withSub">
                    <div class="uldiv">
                      <div class="setinha liOption">
                        <div class="menuBckitem subitem">
                          <span class="spanoption">Sub-opcao 5</span>
                        </div>
                        <i class="icon-chevron-down-small image-down"></i>
                      </div>
                    </div>
                    <ul class="subUl">
                      <li class="liOption">
                        <a href="#">
                          <div class="menuBckitem">Sub-sub-opcao 1</div>
                        </a>
                      </li>
                      <li class="liOption">
                        <a href="#">
                          <div class="menuBckitem">Sub-sub-opcao 2</div>
                        </a>
                      </li>
                      <li class="liOption">
                        <a href="#">
                          <div class="menuBckitem">Sub-sub-opcao 3</div>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="liOption">
                    <a href="#">
                      <div class="menuBckitem">Sub-opcao 6</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="liOption">
                <a href="#">
                  <i class="icon-task"></i>
                  <div class="menuBckitem">Opcao 7</div>
                </a>
              </li>
              <li class="liOption">
                <a href="#">
                  <i class="icon-task"></i>
                  <div class="menuBckitem">Opcao 8</div>
                </a>
              </li>
              <li class="liOption">
                <a href="#">
                  <i class="icon-task"></i>
                  <div class="menuBckitem">Opcao 9</div>
                </a>
              </li>
              <li class="liOption">
                <a href="#">
                  <i class="icon-task"></i>
                  <div class="menuBckitem">Opcao 10</div>
                </a>
              </li>
              <li class="liOption">
                <a href="#">
                  <i class="icon-task"></i>
                  <div class="menuBckitem">Opcao 11</div>
                </a>
              </li>
              <li class="liOption">
                <a href="#">
                  <i class="icon-task"></i>
                  <div class="menuBckitem">Opcao 12</div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="module" src="../assets/main.js"></script>
</body>
</html>
