<!doctype html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Notifications - GRA Design System</title>
  <link rel="stylesheet" href="../gra.css">
</head>
<body class="gra-padding-bottom-7xl">

  <main class="gra-container gra-padding-top-l">
    <h1 class="gra-font-3xl gra-margin-bottom-m">Notifications</h1>

    <section class="gra-margin-top-xl">
      <h2>Notificacoes</h2>
      <hr class="gra-hr-horizontal-dark-s">

      <div class="gra-row-bs">
        <div class="gra-col-bs-xl-1">
          <div class="gra-row-bs">
            <div class="gra-col-bs-xl-2">
              <div class="gra-notification gra-margin-bottom-xs">
                <div class="titleNotif">Lorem ipsum</div>
                <div class="description">
                  Lorem ipsum dolor sit amet consectetur. Adipiscing leo sit magna consectetur. Accumsan enim mi vitae orci purus risus...
                </div>
                <div class="dateTime">
                  <div class="date">dd/mm/aaaa</div>
                  <div class="time">hh:mm</div>
                </div>
              </div>
            </div>
            <div class="gra-col-bs-xl-2">
              <h4>Default</h4>
            </div>
          </div>

          <div class="gra-row-bs gra-margin-top-l">
            <div class="gra-col-bs-xl-2">
              <div class="gra-notification new gra-margin-bottom-xs">
                <div class="titleNotif">
                  <div class="gra-status secondary dangerIcon">
                    <span class="icon"></span>
                  </div>
                  Lorem ipsum
                </div>
                <div class="description">
                  Lorem ipsum dolor sit amet consectetur. Adipiscing leo sit magna consectetur. Accumsan enim mi vitae orci purus risus...
                </div>
                <div class="dateTime">
                  <div class="date">dd/mm/aaaa</div>
                  <div class="time">hh:mm</div>
                </div>
              </div>
            </div>
            <div class="gra-col-bs-xl-2">
              <h4>Nova</h4>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="gra-margin-top-xl">
      <h2>Aplicacao</h2>
      <hr class="gra-hr-horizontal-dark-s">

      <div class="gra-row-bs">
        <div class="gra-col-bs-xl-1">
          <p>Clique <a href="#" class="openNotifBox gra-link">aqui <i class="icon-bell iconRight"></i></a> para verificar uma simulacao de como as notificacoes funcionam.</p>
        </div>
      </div>
    </section>

    <div class="gra-notifications-box">
      <div class="maskNotif"></div>
      <div class="gra-notification-container">
        <div class="header">
          <div class="title">Notificacoes</div>
          <div class="optionsClose">
            <div class="moreOptions gra-link" title="Ver mais opcoes">
              <i class="icon-more"></i>
              <div class="moreOptionsBox">
                <div class="option markRead"><i class="icon-message"></i>Marcar todas como lidas</div>
                <div class="option deleteAll"><i class="icon-trash"></i>Eliminar todas</div>
              </div>
            </div>
            <div class="close gra-link" title="Fechar"><i class="icon-times"></i></div>
          </div>
        </div>

        <div class="gra-notification new">
          <div class="titleNotif">
            <div class="gra-status secondary dangerIcon">
              <span class="icon"></span>
            </div>
            Lorem ipsum
          </div>
          <div class="description">Lorem ipsum dolor sit amet consectetur. Adipiscing leo sit magna consectetur. Accumsan enim mi vitae orci purus risus...</div>
          <div class="dateTime">
            <div class="date">dd/mm/aaaa</div>
            <div class="time">hh:mm</div>
          </div>
        </div>

        <div class="gra-notification">
          <div class="titleNotif">Lorem ipsum</div>
          <div class="description">Lorem ipsum dolor sit amet consectetur. Adipiscing leo sit magna consectetur. Accumsan enim mi vitae orci purus risus...</div>
          <div class="dateTime">
            <div class="date">dd/mm/aaaa</div>
            <div class="time">hh:mm</div>
          </div>
        </div>

        <div class="gra-notification new">
          <div class="titleNotif">
            <div class="gra-status secondary dangerIcon">
              <span class="icon"></span>
            </div>
            Lorem ipsum
          </div>
          <div class="description">Lorem ipsum dolor sit amet consectetur. Adipiscing leo sit magna consectetur. Accumsan enim mi vitae orci purus risus...</div>
          <div class="dateTime">
            <div class="date">dd/mm/aaaa</div>
            <div class="time">hh:mm</div>
          </div>
        </div>

        <div class="gra-notification">
          <div class="titleNotif">Lorem ipsum</div>
          <div class="description">Lorem ipsum dolor sit amet consectetur. Adipiscing leo sit magna consectetur. Accumsan enim mi vitae orci purus risus...</div>
          <div class="dateTime">
            <div class="date">dd/mm/aaaa</div>
            <div class="time">hh:mm</div>
          </div>
        </div>
      </div>
    </div>

    <div class="gra-notifications-box readOne">
      <div class="header">
        <div class="title">
          <span class="gra-link" title="Voltar as notificacoes">
            <i class="goBack icon-arrow-left"></i>
          </span>
          Detalhe da notificacao
        </div>
        <div class="optionsClose">
          <div class="close gra-link" title="Fechar"><i class="icon-times"></i></div>
        </div>
      </div>
      <div class="gra-notification">
        <div class="titleNotif">Lorem ipsum</div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <div class="dateTime">
          <div class="date">dd/mm/aaaa</div>
          <div class="time">hh:mm</div>
        </div>
      </div>
    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="module" src="../assets/main.js"></script>
</body>
</html>
