<!doctype html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Status - GRA Design System</title>
  <link rel="stylesheet" href="../gra.css">
</head>
<body class="pageContent gra-padding-bottom-7xl">

  <main class="gra-container gra-padding-top-l">
    <h1 class="gra-font-3xl gra-margin-bottom-m">Status</h1>

    <section class="gra-margin-top-xl">
      <h2>Exemplos</h2>
      <hr class="gra-hr-horizontal-dark-s">

      <div class="gra-row-bs">
        <div class="gra-col-bs-xl-1">
          <h3 class="gra-margin-bottom-m">Primario</h3>
          <div class="gra-row-bs">
            <div class="gra-col-bs-xl-4">
              <div class="gra-status primary alertIcon">
                <i class="icon-warning"></i>
                <span>Alerta</span>
              </div>
            </div>
            <div class="gra-col-bs-xl-4">
              <div class="gra-status primary infoIcon">
                <i class="icon-circle-info"></i>
                <span>Informacao</span>
              </div>
            </div>
            <div class="gra-col-bs-xl-4">
              <div class="gra-status primary dangerIcon">
                <i class="icon-circle-minus"></i>
                <span>Perigo</span>
              </div>
            </div>
            <div class="gra-col-bs-xl-4">
              <div class="gra-status primary successIcon">
                <i class="icon-circle-success"></i>
                <span>Sucesso</span>
              </div>
            </div>
          </div>

          <h3 class="gra-margin-bottom-m gra-margin-top-l">Secundario</h3>
          <div class="gra-row-bs">
            <div class="gra-col-bs-xl-4">
              <div class="gra-status secondary alertIcon">
                <span class="icon"></span>
                <span>Alerta</span>
              </div>
            </div>
            <div class="gra-col-bs-xl-4">
              <div class="gra-status secondary infoIcon">
                <span class="icon"></span>
                <span>Informacao</span>
              </div>
            </div>
            <div class="gra-col-bs-xl-4">
              <div class="gra-status secondary dangerIcon">
                <span class="icon"></span>
                <span>Perigo</span>
              </div>
            </div>
            <div class="gra-col-bs-xl-4">
              <div class="gra-status secondary successIcon">
                <span class="icon"></span>
                <span>Sucesso</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="module" src="../assets/main.js"></script>
</body>
</html>
