<!doctype html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tag - GRA Design System</title>
  <link rel="stylesheet" href="../gra.css">
</head>
<body class="pageContent gra-padding-bottom-7xl">

  <main class="gra-container gra-padding-top-l">
    <h1 class="gra-font-3xl gra-margin-bottom-m">Tag</h1>

    <section class="gra-margin-top-xl">
      <h2>Exemplos</h2>
      <hr class="gra-hr-horizontal-dark-s">

      <div class="gra-row-bs">
        <div class="gra-col-bs-xl-1">
          <h3 class="gra-margin-bottom-m">Primario</h3>
          <h4 class="gra-margin-bottom-s">Texto</h4>
          <div class="gra-row-bs">
            <div class="gra-col-bs-xl-4">
              <span class="gra-tag primary alert">Alerta</span>
            </div>
            <div class="gra-col-bs-xl-4">
              <span class="gra-tag primary info">Informacao</span>
            </div>
            <div class="gra-col-bs-xl-4">
              <span class="gra-tag primary danger">Perigo</span>
            </div>
            <div class="gra-col-bs-xl-4">
              <span class="gra-tag primary success">Sucesso</span>
            </div>
          </div>

          <h4 class="gra-margin-bottom-s gra-margin-top-l">Icon + Texto</h4>
          <div class="gra-row-bs">
            <div class="gra-col-bs-xl-4">
              <div class="gra-tag primary alert withIcon">
                <i class="icon-warning"></i><span>Alerta</span>
              </div>
            </div>
            <div class="gra-col-bs-xl-4">
              <div class="gra-tag primary info withIcon">
                <i class="icon-circle-info"></i><span>Informacao</span>
              </div>
            </div>
            <div class="gra-col-bs-xl-4">
              <div class="gra-tag primary danger withIcon">
                <i class="icon-circle-minus"></i><span>Perigo</span>
              </div>
            </div>
            <div class="gra-col-bs-xl-4">
              <div class="gra-tag primary success withIcon">
                <i class="icon-circle-success"></i><span>Sucesso</span>
              </div>
            </div>
          </div>

          <h3 class="gra-margin-bottom-m gra-margin-top-l">Secundario</h3>
          <h4 class="gra-margin-bottom-s">Texto</h4>
          <div class="gra-row-bs">
            <div class="gra-col-bs-xl-4">
              <span class="gra-tag secondary alert">Alerta</span>
            </div>
            <div class="gra-col-bs-xl-4">
              <span class="gra-tag secondary info">Informacao</span>
            </div>
            <div class="gra-col-bs-xl-4">
              <span class="gra-tag secondary danger">Perigo</span>
            </div>
            <div class="gra-col-bs-xl-4">
              <span class="gra-tag secondary success">Sucesso</span>
            </div>
          </div>

          <h4 class="gra-margin-bottom-s gra-margin-top-l">Icon + Texto</h4>
          <div class="gra-row-bs">
            <div class="gra-col-bs-xl-4">
              <div class="gra-tag secondary alert withIcon">
                <i class="icon-warning"></i><span>Alerta</span>
              </div>
            </div>
            <div class="gra-col-bs-xl-4">
              <div class="gra-tag secondary info withIcon">
                <i class="icon-circle-info"></i><span>Informacao</span>
              </div>
            </div>
            <div class="gra-col-bs-xl-4">
              <div class="gra-tag secondary danger withIcon">
                <i class="icon-circle-minus"></i><span>Perigo</span>
              </div>
            </div>
            <div class="gra-col-bs-xl-4">
              <div class="gra-tag secondary success withIcon">
                <i class="icon-circle-success"></i><span>Sucesso</span>
              </div>
            </div>
          </div>

          <h3 class="gra-margin-bottom-s gra-margin-top-l">Badge</h3>
          <div class="gra-row-bs">
            <div class="gra-col-bs-xl-4">
              <span class="gra-badge alert">1</span>
            </div>
            <div class="gra-col-bs-xl-4">
              <span class="gra-badge info">1</span>
            </div>
            <div class="gra-col-bs-xl-4">
              <span class="gra-badge danger">1</span>
            </div>
            <div class="gra-col-bs-xl-4">
              <span class="gra-badge success">1</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="module" src="../assets/main.js"></script>
</body>
</html>
