<!doctype html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tooltip - GRA Design System</title>
  <link rel="stylesheet" href="../gra.css">
</head>
<body class="pageContent gra-padding-bottom-7xl">

  <main class="gra-container gra-padding-top-l">
    <h1 class="gra-font-3xl gra-margin-bottom-m">Tooltip</h1>

    <section class="gra-margin-top-xl">
      <h2>Exemplos</h2>
      <hr class="gra-hr-horizontal-dark-s">

      <div class="gra-row-bs">
        <div class="gra-col-bs-xl-3">
          <p>Hover <span class="gra-tooltip"><span class="tooltiptext topCenter">Lorem ipsum</span><b>aqui</b></span> alinhamento ao centro Top.</p>
        </div>
        <div class="gra-col-bs-xl-3">
          <p>Hover <span class="gra-tooltip"><span class="tooltiptext topLeft">Lorem ipsum</span><b>aqui</b></span> alinhamento a esquerda Top.</p>
        </div>
        <div class="gra-col-bs-xl-3">
          <p>Hover <span class="gra-tooltip"><span class="tooltiptext topRight">Lorem ipsum</span><b>aqui</b></span> alinhamento a direita Top.</p>
        </div>
      </div>

      <div class="gra-row-bs">
        <div class="gra-col-bs-xl-3">
          <p>Hover <span class="gra-tooltip"><span class="tooltiptext bottomCenter">Lorem ipsum</span><b>aqui</b></span> alinhamento ao centro Bottom.</p>
        </div>
        <div class="gra-col-bs-xl-3">
          <p>Hover <span class="gra-tooltip"><span class="tooltiptext bottomLeft">Lorem ipsum</span><b>aqui</b></span> alinhamento a esquerda Bottom.</p>
        </div>
        <div class="gra-col-bs-xl-3">
          <p>Hover <span class="gra-tooltip"><span class="tooltiptext bottomRight">Lorem ipsum</span><b>aqui</b></span> alinhamento a direita Bottom.</p>
        </div>
      </div>

      <div class="gra-row-bs">
        <div class="gra-col-bs-xl-3">
          <p>Hover <span class="gra-tooltip"><span class="tooltiptext left">Lorem ipsum</span><b>aqui</b></span> alinhamento a esquerda.</p>
        </div>
        <div class="gra-col-bs-xl-3">
          <p>Hover <span class="gra-tooltip"><span class="tooltiptext right">Lorem ipsum</span><b>aqui</b></span> alinhamento a direita.</p>
        </div>
      </div>
    </section>
  </main>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="module" src="../assets/main.js"></script>
</body>
</html>
